SqlServer__Server=localhost
SqlServer__DataWarehouse=EnterpriseDW
Ssas__ServerName=localhost
Ssas__CubeName=EnterpriseCube
Ssas__ConnectionString=Data Source=localhost;Catalog=EnterpriseCube;Integrated Security=SSPI;
Ssas__CommandTimeoutSeconds=60
